.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
}
.netflix-logo img {
  height: 80px;
  width: 220px;
}
.user-avatar {
  display: flex;
  align-items: center;
}
.user-avatar img {
  height: 80px;
  width: 80px;
}
.main-container {
  height: 300px;
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  margin: 10px;
}
.video-slider-container {
  overflow: hidden;
}
.video-preview {
  height: 150px;
  width: 200px;
  border: 1px solid black;
}
.genre-title {
  font-size: 26px;
  font-weight: 600;
  padding: 0 20px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.slider-scroll {
  display: flex;
}
.card-parent {
  margin: 0 10px;
}
.slider-parent {
  overflow-x: scroll;
}
.scroll-button {
  font-size: 30px;
  font-weight: bold;
}
